<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="developerone-pc\stisqlserver.MPS.dbo" connectionString="XpoProvider=MSSqlServer;Data Source=DEVELOPERONE-PC\STISQLSERVER;Initial Catalog=MPS;Persist Security Info=True;User ID=sa;Password=sffSDfsdfdfSDFsdffDFSF2164564DFSD2Df2345ABCSTFS" />
    </connectionStrings>
</configuration>