<?xml version="1.0"?>
<configuration>
    <connectionStrings>
        <add name="developerone-pc\stisqlserver.MPS.dbo" connectionString="XpoProvider=MSSqlServer;Data Source=DEVELOPERONE-PC\STISQLSERVER;Initial Catalog=MPS;Persist Security Info=True;User ID=sa;Password=sffSDfsdfdfSDFsdffDFSF2164564DFSD2Df2345ABCSTFS"/>
    </connectionStrings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="DevExpress.Data.v14.2" publicKeyToken="B88D1754D700E49A" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-14.2.4.5" newVersion="14.2.4.5"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>
